[Unit]
Description=M346 Spring Boot Application
After=syslog.target

[Service]
User=myuser
ExecStart=java -jar /home/myuser/m346-ref-card-03/target/architecture-refcard-03-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=30
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target